.scala {
  background-image: url("./assets/images/scala_bg.png");
  background-color: #1b171c;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  .coins {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .center {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 106px;
    height: calc(100vh - 240px);
    background-image: url("./assets/images/scala_vertical.png");
    background-size: cover;
    z-index: 1;
  }

  .caps {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-0deg);
    width: 720px;
    height: 600px;
    background-image: url("./assets/images/scala_caps.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;

    &.is-active {
      transition: transform 0.4s ease-in-out;
    }
  }
}
