body {
  margin: 0;
  text-overflow: ellipsis;
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 100;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
