.card {
    min-height: 30vh;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 13px;
    display: flex;
    position: relative;
    background-image: url("../assets/images/glass-blue.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #282c34 !important;
    overflow: hidden;
    z-index: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

.card:hover {
    outline: aliceblue 4px solid;
    transition: outline-width 0.3s ease, outline-color 0.3s ease;
}
.card.is-active {
    max-width: 600px;
    font-size: 30px;
    line-height: 1.2;
    transform: scale(1.5) translate(-60%, -50%);
    transition: transform 0.4s ease;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 10;
}
.card.is-used {
    font-size: 13px;
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: scale(1);
    position: relative;
    z-index: 0;
}
.card.is-used:hover {
    outline: none;
}

.card-img {
    flex-basis: 40%;
    margin-right: 40px;
}
.card.is-used .card-img {
    animation: shake 0.5s ease-in-out;
}

.card-text {
    flex-basis: calc(60% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.situations img {
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.broken-glass {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/images/glass.com.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.alert {
    display: block;
    padding: 5px;
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
    border: transparent 1px solid;
}

.alert:hover {
    border: #282c34 1px solid;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, 0); }
    20% { transform: translate(2px, 0); }
    30% { transform: translate(-2px, 0); }
    40% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    70% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    90% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
}